<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
        body {
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Bungee Tint", sans-serif;
            font-size: 24px;
        }
    </style>
</head>

<body>
  <div class="container">

    <main>
      {{ content }}
    </main>

    <footer>
      <hr>
    </footer>
  </div>
</body>
</html>
